.cart{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 2rem;
    box-shadow: 2px 2px 7px $primary_color;
    overflow: scroll;
    .cart__close{
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.15s;
        &:hover{
            transform: scale(1.05);
        }
    }
    &__title{
        text-transform: uppercase;
        text-align: center;
        margin: 1.2rem;
        border-bottom: 1px solid $primary_color;
        padding-bottom: 0.8rem;
    }
    &__buy{
        padding: 1rem 2rem;
        text-transform: uppercase;
        display: block;
        margin: 1rem auto;
        background-color: green;
        border-radius: 0.2rem;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.15s;
        &:hover{
            transform: scale(1.05);
        }
    }
    .cart-card{
        @include flex-center-row;
        margin: 0 auto;
        height: 20%;
        width: 100%;
        margin-bottom: 1.5rem;
        padding: 1rem;
        border: 1px solid $primary_color;
        &__img{
            width: 40%;
            max-width: 200px;
            height: 100%;
        }
        &__description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 50%;
            gap: 1rem;
        }
        &__quantity{
            width: 2.3rem;
        }
        &__delete{
            font-size: 2rem;
            color: red;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.15s;
            &:hover{
                transform: scale(1.05);
            }
        }
        &__title{
            font-size: clamp(1.2rem, 4vw, 1.5rem);
        }
    }
}
section.cart--visible{
    display: block;
}