.content{
    @include flex-center-column;
    gap: 4rem;
    align-self: center;
    min-height: 100vh;
}
.shop-card{
    @include flex-center-column;
    gap: 1rem;
    width: clamp(300px, 10vw, 450px);
    height: clamp(300px, 10vw, 450px);
    font-size: clamp(1.5rem, 1.6vw, 1.8rem);
    margin-bottom: 3rem;
    &__img{
        min-width: 240px;
        min-height: 240px;
        width: 85%;
        height: 85%;
        transition: all 0.1s;
    }
    &__title{
        font-size: 1em;
        // font-size: clamp(1.5rem, 1.6vw, 1.8rem);
    }
    &__price{
        font-size: 0.7em;
        // font-size: clamp(1rem, 1.6vw, 1.2rem);
    }
    .shop-card__icon{
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.15s;
        &:hover{
            transform: scale(1.05);
        }
    }
}