.footer{
    @include flex-center-column;
    color: hsl(0, 0, 84);
    padding: 1rem;
    margin-top: 5rem;
    gap: 1rem;
    &, & *{
        background-color: $primary_color;
        font-size: 0.8rem;
    }
    &__policies{
        @include flex-center-row;
        gap: 1rem;
    }
    &__policy{
        text-decoration: none;
        color: inherit;
    }    
}

