.header{
    @include flex-center-row;
    background-color: $primary_color;
    padding: 1rem;
    .header__icon{
        font-size: clamp(2rem, 4vw, 2.5rem);;
        color: white;
        cursor: pointer;
        transition: all 0.15s;
        &:hover{
            transform: scale(1.05);
        }
    }
    & *{
        background-color: $primary_color;
    }
    &__heading{
        transition: all 0.15s;
        &:hover{
            transform: scale(1.01);
        }
        @include flex-center-row;
    }
    &__title{
        color: white;
        font-size: clamp(1.8rem, 2.5vw, 2.5rem);
        text-decoration: none;
    }
    &__logo{
        width: clamp(2.2rem, 2.5vw, 6rem);
    }
}
