.page-heading{
    @include flex-center-column;
    padding: 2rem 0;
    gap: 1rem;
    &__title{
        font-size: clamp(3rem, 3.5vw, 6rem);
        cursor:pointer;
        transition: all 0.15s;
        padding: 0.5rem;
        &:hover{
            transform: scale(1.02);
        }
    }
}
.navbar{
    @extend .page-heading;
    gap: 1.5rem;
    &__filters{
        @include flex-center-column;
        gap: 1.2rem;
    }
    &__search{
        @include flex-center-row;
        transition: all 0.15s;
        &:hover{
            transform: scale(1.02);
        } 
    }
    &__icon{
        font-size: 2rem
    }
    &__input{
        width: clamp(150px, 50vw, 150px);
    }
    &__input-label{
        @include flex-center-row;
    }
    &__sort{
        @include flex-center-row;
        gap: 0.5rem;
        transition: all 0.15s;
        &:hover{
            transform: scale(1.02);
        }
    }
    &__sort-label{
        font-size: clamp(1rem, 1.2vw, 1.3rem);
    }
    &__btn{
        background-color: $primary_color;
        width: clamp(300px, 80vw, 400px);
        padding: 0.5rem;
        border-radius: 0.2rem;
        font-size: clamp(1rem, 1.25vw, 1.3rem);
        color: white;
        text-transform: uppercase;
        transition: all 0.15s;
        cursor: pointer;
        &:hover{
            transform: scale(1.02);
            background-color: darken($primary_color, $amount: 4);
        }
    }
}