$primary_color: black;
$secondary_color: hsl(0, 0, 84);

@mixin flex-center-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center-column{
    @include flex-center-row;
    flex-direction: column;
}

section.cart--visible{
    display: block;
}
.navbar__btn--active{
    border: 5px solid rgb(4, 151, 4);
}